{% extends 'base.html.twig' %}

{% block title %} full page{% endblock %}

{% block body %}
{#
    <div class="pb-4">
            <section class="action pb-2">
                <p> <i class="bi bi-airplane-engines-fill"></i>Spaceblog</p>
                <a class=" rounded bg-red text-white p-1 mb-1" href="">Retour</a>
            </section>
            <div class="card-group rounded">
                <div class="card">
                  <img class="card-img-top" src="./banniere.png" alt="Card image cap">
                  <div class="card-body">
                    <h1 class="card-title h6 d-flex justify-content-center">Le rover curiosity célèbre une autres années de mars.</h1>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                        This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                        This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                        This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                        This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                        This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
    </div>
    #}
{% endblock %}
