{% extends 'knp_menu.html.twig' %}
     {% block list %}
        {% if item.hasChildren and options.depth is not same as(0) and item.displayChildren %}
            {% import _self as knp_menu %}
            <nav class="navbar navbar-light bg-light  navbar-expand-lg ">
            <ul{{ knp_menu.attributes(listAttributes) }}>
                {{ block('children') }}
            </ul>
            </nav>
        {% endif %}
    {% endblock %}